.Header {
    background-color: bisque;
}

.logoImg {
    padding: 0px 40px 0px 30px;
    width: 160px;
    height: 80px;
}

.Link {
    padding: 30px 5px 0px 5px;
    font-size: 30px;
    list-style-type: none;
}

.Link-Cart {
    padding: 30px 25px 0px 5px;
    color: rgb(66, 11, 11);
    list-style-type: none;
}